.main-layout {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f3f3;

  .auth-container {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .cover {
      background-color: #452b4f;
      min-height: 100%;
    }

    main {
      min-height: 100%;
      padding: 60px;
      background-color: #fff;
    }
  }
}
