section {
    h1 {
      font-size: 1.4em !important;
      font-weight: 700 !important;
    }
  
    .login-link {
      a {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }